# General
PORT=8055
KEY="tu-clave-secreta-larga"
SECRET="tu-secreto-secreto-largo"

# Database (SQLite en contenedor Docker)
DB_CLIENT="sqlite3"
DB_FILENAME="./database/data.db"

# Admin Account
ADMIN_EMAIL="admin@tu-dominio.cl"
ADMIN_PASSWORD="TuPasswordSeguro123"

# Configuración de CORS y Caché
CACHE_ENABLED=false
CORS_ENABLED=true
CORS_ORIGIN="*"

# Configuración de Correo SMTP en Directus
EMAIL_TRANSPORT="smtp"
EMAIL_SMTP_HOST="smtp.gmail.com"
EMAIL_SMTP_PORT=587
EMAIL_SMTP_USER="tu-correo@gmail.com"
EMAIL_SMTP_PASSWORD="tu-contrasena-de-aplicacion"
EMAIL_FROM="tu-correo@gmail.com"
